{% extends "base.html.twig" %}

{% block body %}
	{{ parent() }}
	<div class="row">
		<h1>Vos vacances</h1>

		{% for travel in travels %}
			<div class="cell">
				<div class="dashboard_travel">
					<img src="{{ asset('bundles/app/photos/' ~ travel.places[0].photoFilename) }}" height="100" width="100">
					<div class="dashboard_travel_name">{{travel.name}}</div>
					<div class="dashboard_travel_date">{{ travel.dateStart|date("d/m/Y") }} au {{ travel.dateEnd|date("d/m/Y") }} </div>
					<a class="bt_dashboard" href="#">DETAILS</a>
				</div>
			</div>
		{% endfor %}

		<div class="cell">
			<div class="dashboard_travel_new">

				<a class="bt_dashboard" href="#">Ajouter un voyage</a>
			</div>
		</div>
	</div>
{% endblock body %}
