{% extends "base.html.twig" %}

{% block body %}

    <h1>Edite ton profil</h1>

<div class="form_center">

<form class='form_user' method="post" action="{{ path('edit_profile') }}">

	<label>User name :</label><input type="text" name="username" value="{{datauser.username}}">
	<label>Email :</label><input type="email" name="email" value="{{datauser.email}}">
	<input type="submit" class="bouton" value="modifier">
</form>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form_user' } }) }}

{{ form_widget(form) }}
    
    <div>
        <a class="bt_cancel" href="{{ path('dashboard') }}">Annuler</a>
        <input class='bt_validate' type="submit" value="Enregistrer">
    </div>

{{ form_end(form) }}

</div>

{% endblock body %}
